.circle {
    width: 250px;
    height: 250px;
    border: 5px solid blue;
    animation: change 3s alternate infinite;

}

@keyframes change {
    0% {background-color: orange; border-radius: 0 0 0 0;}
    25% {background-color: orange; border-radius: 50% 0 0 50%;}
    50% {background-color: orange; border-radius: 0 50% 50% 0;}
    75% {background-color: orange; border-radius: 50% 50% 0 0;}
    100% {background-color: orange; border-radius: 50% 50% 50% 0;}

}